<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Facebook Event Poster</title>
		{{!-- Our Custom Style Sheet --}}
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		{{!-- jQuery --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- Need to change depending on our public/js files --}}
		<script src="/js"></script>
		{{!-- Our Custom Favicon --}}
		<link href="/img/favicon.ico" rel="icon" type="image/x-icon" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>