{{!-- Home landing page to log --}}

<h1>Events {{event.client.name}}</h1>

<h2>{{ event.title}}</h2>

<ul>
  {{#each event}}
  <li>{{ event.title}}

      <button type="submit">Post to Facebook</button>
  </li>
    {{!-- {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}} --}}
  {{/each}}
</ul>



<h2>Add an event</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Event Title:</label>
    <input type="text" id="ca" name="title">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
