<h3 class="page-header">About the App</h3>
<p class="about">Facebook event poster app is a web app for users to sign in and create event listings. Events will be stored in a database by user submission. Event listings can then be posted to facebook through the Facebook API.</p> 
<p class="about">To be able to use the App, you need to sign up first.</p>