<h2 class="page-header">Account Login</h2>
{{#if loginMessage}}
<div class="alert alert-danger">{{loginMessage}}</div>
{{/if}}
<form method="post" action="/clients/login">
	<div class="form-group">
		<label>Email</label>
		<span id="email-msg"></span>
		<input type="text" class="form-control" id="email" name="email" placeholder="Username">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" id="password" name="password" placeholder="Password">
	</div>
	<button id="signin" type="submit" class="btn btn-info btn-lg disabled" disabled="">Submit</button>
</form>

<script>
	// Sign in form validation
	$("#email, #password").on('keyup', function () {
		var email = $('#email').val()
		var password = $('#password').val()
		if (email.length > 0 && validateEmail(email) && password.length > 0) {
			$("#signin").removeClass("disabled");
			$("#signin").removeAttr('disabled');
		} else {
			$("#signin").addClass("disabled");
			$("#signin").attr('disabled');
		}
	})

	// Check for valid email address
	function validateEmail(str) {
		var regex = /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
		if (!regex.test(str)) {
			$("#email-msg").text("Please enter valid email.").css('color', 'red');
			return false
		} else {
			$("#email-msg").text("");
			return true
		}
	}

</script>