{{!-- if not logged in, forced here to log in --}}
<div class="container">
    <h1 class="center">Facebook Event Poster</h1>
    <hr>
    <h2 class="center">Log In</h2>
    
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default btn-lg">Submit</button>
    </form>
    <button type="signUp" class="btn btn-default btn-lg"><a href="#">Sign Up</a></button>
</div>