<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Test</title>
</head>
<style media = 'screen'>
    #profile {display: none}
</style>
<body>

<!-- <script src="/js/facebook.js"          ></script> -->

<script src="/js/post.js"></script>
    <h1>Testing Page</h1>

    <div>
        <h3 id="heading">Log in to view your profile</h3>
        <div id="profile"></div>
    </div>

 <li id = "logout"><a href="#" onclick = "logout()">Logout</a></li>
    <!-- <fb:login-button scope="public_profile,email, user_birthday, user_location" onlogin="checkLoginState();" id = 'fb-btn'>
    </fb:login-button>  -->

    <button id="loginBtn">Facebook Login</button>
    <div id="response"></div>
    <script>
                document.getElementById('loginBtn').addEventListener('click', function() {
                fbPostIt();
            });
    </script>
</body>

</html>

